html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 10px monospace, monospace;
    overflow:hidden
    
}

body {
    display: flex;
    flex-direction: row;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    #canvas-container {
      margin-left: 0;
      width: 100%;
    }
}

/* @media only screen and (max-width: 768px) {
    #ui-container {
      display: none;
    }
  } */

#ui-container {
    
    width: 223px;
    background-color: #444;
    color: white;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    box-sizing: border-box;
    flex-shrink: 0;
}

#canvas-container {
    
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    overflow: hidden;
    margin-left: 0;
    width: 100%;
    
}

.button-container {

    display: flex;
    flex-wrap: nowrap; /* Allow buttons to wrap to the next line if necessary */
    margin: 0;
}




.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.credits{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    color: #fff;
}

.sectionName {
    opacity: 0.4;
    font-size: 10px;
    padding-top:10px;
    
}

.label-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 0;
    padding-bottom: 2px; /* Explicitly set margin to 0 */
    
}


a {
    color: #ffffff;
    text-decoration: underline;
}


.button { width: 200px; }
.mediumbutton { width: 100px; }
.smallbutton { width: 50px; }


.slider, .button, .smallbutton, .mediumbutton {
    display: block;
    margin: 3px 0;
    font: 10px monospace, monospace;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}


.button, .smallbutton, .mediumbutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
    border: none;
    padding: 10px;
    white-space: nowrap;
}


.button:hover, .smallbutton:hover, .mediumbutton:hover {
    background-color: #BABABA;
}

.button:active, .smallbutton:active {
    background-color: #fff;
    color: #000;

    
}

.smallbutton:active {
    background-color: #ff0000;
}

.button:active, .mediumbutton.active {
    background-color: #fff;
    color: black;
    
}

.mediumbutton {
    margin: 0;
}




.left-align, .center-align, .right-align {
    flex: 1;
    text-align: left;
}

.center-align { text-align: center; }
.right-align { text-align: right; }



/*SLIDER*/

input[type=range] {
    -webkit-appearance: none;
    width: 200px;
    background: #000;
    margin: 3px 0;
    
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track,
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    height: 16px;
    background: #000;
    cursor: pointer;
    border-radius: 0;
}

/* Chrome specific range input thumb */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 0;
    border: 0px solid #000;
    
}

input[type=range]::-moz-range-thumb,
input[type=range]::-ms-thumb {
    appearance: none;
    height: 16px;
    width: 16px;
    background: #fff;
    cursor: pointer;
    border: 0px solid #000;
}



/*SCROLLBAR*/

/* Chrome, Safari, Edge Scrollbar Styling */
#ui-container::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
}

#ui-container::-webkit-scrollbar-track {
    background: #444; /* Color of the scrollbar track */
}

#ui-container::-webkit-scrollbar-thumb {
    background-color: #aaa; /* Scrollbar thumb color */
    border-radius: 0px; /* Rounded corners for the scrollbar thumb */
    border: 0px solid #222; /* Padding around the thumb */
}

#ui-container::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* Thumb color on hover */
}

#ui-container::-webkit-scrollbar-thumb:active {
    background-color: #aaa; /* Thumb color when active (on click) */
}



@media only screen and (max-width: 768px) {
    #ui-container {
        display: none;
    }

    /* Adjust canvas to take full width and height */
    #canvas-container {
        width: 100%;
        height: 100%;
    }
}
